p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 16px;
}

body {
    color: black;
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-bottom: 500px;
    padding-right: 24px;
    font-size: 16px;
    background-color: rgb(250, 250, 250);
}

@media (min-width: 1200.1px) {
    body {
        margin-left: 168px;
    }
}